
<footer>
    <div>
        <div class="col-lg-12">
            <span></span>
            <blockquote>
              <p>Copyright &copy; Proyecto DAW 2do Término 2015</p>
              <footer>Developed by: <cite title="Source Title">Daniel Izquierdo</cite> & 
                                        <cite title="Source Title">Jhon Barreiro</cite></footer>
            </blockquote>

        </div>
    </div>
    <!-- /.row -->
</footer>
