<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="login.html">
      <h1><%-title %></h1>
    </a>
    <div class="user btn-group">
        <span id="status" class="text-left" style="font-width:bold"></span>
        <a class="dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" type="button">
            <img id="fotoUsuario" class="img-circle"src="#" alt="">
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="glyphicon glyphicon-log-out"></i> LogOut</a></li>
        </ul>
    </div>
  </div>
</nav>