<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DRAW-ER</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link href="/css/user.css" rel="stylesheet" type="text/css">
    <link href="/css/chatStyle.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="wrapper">
        <div class="box">
            <div class="row">

                <nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
                    <!-- Navigation -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                          <h1>DRAW-ER</h1>
                        </a>
                    </div>
                    <div class="nav navbar-nav navbar-right" role="navigation">
                        <div class="user btn-group">
                            <span id="status" class="text-left" style="font-width:bold"> <%-nameUser %> </span>
                            <img id="fotoUsuario" class="img-circle" src="<%-photoUser %>" alt="" width=50 height=50>
                            <a class="dropdown-toggle" style="cursor:pointer" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="column col-xs-12 col-sm-12 col-md-12" id="main">

                    <div class="padding">
                        <div class="full col-sm-9">
                            <div class="row">
                                <div class="navbar toolbar">
                                    <ul class="nav nav-tabs navbar-left">
                                        <li role="presentation" class="active">
                                            <a href="#own" role="tab" data-toggle="tab" >Your Diagrams</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#shared" role="tab" data-toggle="tab" >Shared Diagrams</a>
                                        </li>
                                    </ul>

                                    <div class="navbar-right">
                                        <div class="btn-group .btn-group-justified" role="group" aria-label="Justified button group">
                                            <a href="javascript:onLoad();" class="btn btn-default" role="button"><span class="glyphicon glyphicon-open"></span> Load Diagram</a>
                                            <input type="file" id="fileInput" onchange="handleFiles(this.files)" style="display:none;position:absolute;top:-50;left:-50"/>
                                            <a href="/draw" target="_blank" class="btn btn-default" role="button"><span class="glyphicon glyphicon-new-window"></span> New Diagram</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page Content -->
                                <div class="">

                                    <!-- /.row -->

                                    <!-- Projects Row -->
                                    <div class="row tab-content">
                                        <!-- Tab Panes -->
                                        <div class="tab-pane fade active in" id="own">
                                            <!-- Page Heading -->
                                            <div class="row">
                                                <div class="">
                                                    <h1 class="text-center page-header">Your Diagrams
                                                    </h1>
                                                </div>
                                            </div>

                                            <ul class="media-grid">
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_1</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_2</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_3</span>
                                                    </a>
                                                </li>

                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_4</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_5</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_6</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_7</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_8</span>
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_8</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="tab-pane fade" id="shared">
                                            <!-- Page Heading -->
                                            <div class="row">
                                                <div class="">
                                                    <h1 class="text-center page-header">Shared Diagrams
                                                    </h1>
                                                </div>
                                            </div>

                                            <ul class="media-grid">
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_a</span>
                                                        <img src="/img/a7.jpg" alt="avatarFriend" class="img-circle diagramShared">
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_b</span>
                                                        <img src="/img/a6.jpg" alt="avatarFriend" class="img-circle diagramShared">
                                                    </a>
                                                </li>
                                                <li class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                                                    <a class="thumbnail" href="#">
                                                        <button type="button" class="close">×</button>
                                                        <img class="diagrama img-responsive" src="http://placehold.it/750x450" alt="">
                                                        <span class="nameDiagram">Diagram_c</span>
                                                        <img src="/img/a5.jpg" alt="avatarFriend" class="img-circle diagramShared">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <hr>
                                    <!-- Pagination -->
                                    <div class="row text-center">
                                        <div class="col-lg-12">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#">&laquo;</a>
                                                </li>
                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>
                                                <li>
                                                    <a href="#">2</a>
                                                </li>
                                                <li>
                                                    <a href="#">3</a>
                                                </li>
                                                <li>
                                                    <a href="#">4</a>
                                                </li>
                                                <li>
                                                    <a href="#">5</a>
                                                </li>
                                                <li>
                                                    <a href="#">&raquo;</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                    <hr>

                                    <!-- Footer -->
                                    <footer>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span>Copyright &copy; Proyecto DAW 2do Término 2015</span>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="chatButton dropup">
                            <button class="btn btn-default" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-envelope"></span> Chat
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-toggle" aria-labelledby="dropdownMenu2">
                                <div class="">
                                    <div class="panel-body">
                                        <ul class="chat">
                                            <li class="left clearfix">
                                                <span class="pull-left">
                                                    <img src="img/a6.jpg" alt="User Avatar" class="img-circle" width=50 heigth=50 />
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="">Jack Sparrow</strong>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                        dolor, quis ullamcorper ligula sodales.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="right clearfix">
                                                <span class="pull-right">
                                                    <img src="img/a7.jpg" alt="User Avatar" class="img-circle" width=50 height=50/>
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="pull-right"> Bhaumik Patel</strong>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                        dolor, quis ullamcorper ligula sodales.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="left clearfix">
                                                <span class="pull-left">
                                                    <img src="img/a6.jpg" alt="User Avatar" class="img-circle" width=50 heigth=50/>
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class=""> Jack Sparrow</strong>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                        dolor, quis ullamcorper ligula sodales.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="right clearfix">
                                                <span class="pull-right">
                                                    <img src="img/a7.jpg" alt="User Avatar" class="img-circle" width=50 height=50/>
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="pull-right"> Bhaumik Patel</strong>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                        dolor, quis ullamcorper ligula sodales.
                                                    </p>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="input-group">
                                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info btn-sm" id="btn-chat">
                                                    <span class="glyphicon glyphicon-send"></span> Send</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.container -->
        </div>
    </div>

    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="/js/loadFile.js" type="text/javascript"></script>
    <script src="/js/user.js" type="text/javascript"></script>

</body>

</html>
